# System Files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
scripts/*.pyc

# Local Dev
.gemini/
.idea/
.vscode/
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# HTTP Server Logs
*.log
